body{
  background-color: blueviolet;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/013/951/340/small/sea-ocean-beach-sunset-sunrise-landscape-outdoor-water-wave-with-white-foam-beautiful-sunset-colorful-sky-with-clouds-natural-island-panoramic-background-idyllic-amazing-tropical-island-shore-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
