<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div style="background-color: yellowgreen;">Naaji</div>
    <div style="background-color: yellowgreen;">Husein</div>
    <span style="background-color: brown;">abdi</span>
    <span style="background-color: brown;">samatar</span>

    <p>farah</p>
    
</body>
</html>